<!-- to view, 'open app/views/index.html' -->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script defer type="text/javascript" src="index.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>
<body>
    <div class="grid-header">
        <div class="header-item">
            <br>
            <label for="users-dropdown" class="label">Choose a user:</label><br><br>
            <select name="users" id="users-dropdown"></select>
            <br><br><br><br>    
            <button class = "update-user">Update User</button>
            <br><br><br><br>    
        </div>  
        <div class="header-item">
            <p class = "current-user"></p>
        </div>
        <div class="header-item">
            <form class="new-user-form">
                <br>
                <label for="new-user" id="new-user-label" class="label">Or create a new user:</label><br><br>
                <input class="new-user-compose-area"></input>
                <br><br><br><br>    
                <button class = "create-user">Create User</button>
            </form>
            <br><br><br><br>    
        </div>
    </div>
    <br><br>
    <div class="grid-container">
    </div>
</body>
</html>